# Logs
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Hardhat artifacts
artifacts/
cache/

# Build artifacts
dist/
pkg/balancer-js/src/typechain/*
pkg-apeswap/apeswap-balancer-cli/src/web3/ABI/types/*

# Env
.env

